.due-date-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.past-due {
  color: red;
  margin-right: 10px; /* Add margin to the right */
}

.past-due-text {
  margin-left: 10px;
}

