/* ChecklistItem Style Guide */
.checklist-item-box {
  background-color: #26abc0;
  width: 23rem;
  border-radius: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 28px 43px -17px;
}

.checklist-item-header {
  color: white;
  width: 10rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  float: left;
}

/* Rank and checklist styling */
.rank-button,
.edit-button {
  width: 6rem;
  height: 1.5rem;
}

.priorities-container {
  width: 100%;
  padding: 3rem 4.93rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-items: center; 
  /*  align-content: center; */
  gap: 3rem;
}

.priorities-card {
  background-color: rgb(123, 123, 123);
  width: 1rem;
  height: 20rem; /* Set a fixed height for the PriorityItem component */
  margin: 20px;
}


.delete-button {
  margin: 0 auto 1rem;
}