/* ChecklistItem Style Guide */
.checklist-item-box {
  background-color: gray;
  margin: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

.checklist-item-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  align-items: baseline;
  gap: 15rem;
}

/* Rank and checklist styling */
.rank-button,
.edit-button {
  width: 6rem;
  height: 1.5rem;
}

.priorities-container {
  background-color: rgb(195, 195, 195);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-grow: 1; /* Allow priorities-container to grow and fill available space */
}

.priorities-card {
  background-color: rgb(123, 123, 123);
  width: 18rem;
  height: 20rem; /* Set a fixed height for the PriorityItem component */
  margin: 20px;
}
